<div class="section-2 jumbotron jumbotron-fluid bg-light mb-5 mt-5">
    <div class="container">
        <div class="row">
          <!-- 1 -->
            <div class="col-lg-4">
              <i class="fas fa-2x fa-fill-drip mb-4 text-secondary"></i>
                <h4 class="mb-4 text-secondary">Created in Figma</h4>
                <p class="mb-4">Natively created in Figma! Duplicate this Project to your drafts.</p>
                <a class="link text-secondary" href="#"><i class="fas fa-chevron-right mr-2"></i> view in Figma</a>
            </div>
            <!-- 1 -->
            <div class="col-lg-4">
              <i class="fas fa-2x fa-fill-drip mb-4 text-secondary"></i>
                <h4 class="mb-4 text-secondary">Created in Figma</h4>
                <p class="mb-4">Natively created in Figma! Duplicate this Project to your drafts.</p>
                <a class="link text-secondary" href="#"><i class="fas fa-chevron-right mr-2"></i> view in Figma</a>
            </div>
            <!-- 1 -->
            <div class="col-lg-4">
              <i class="fas fa-2x fa-fill-drip mb-4 text-secondary"></i>
                <h4 class="mb-4 text-secondary">Created in Figma</h4>
                <p class="mb-4">Natively created in Figma! Duplicate this Project to your drafts.</p>
                <a class="link text-secondary" href="#"><i class="fas fa-chevron-right mr-2"></i> view in Figma</a>
            </div>
        </div>


        <!-- <div class="row">
            {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <li><a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})</a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <li><a href="#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})</a></li>
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}
</ul>

        </div> -->
    </div>
</div>