<!-- Featherlight -->
<script>
	$('.myElement').img($content, configuration);
</script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.js" type="text/javascript"
	charset="utf-8"></script>

<!-- Tilt Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.0/tilt.jquery.min.js"></script>
<script src="{{ "/assets/js/tilt-js.js" | relative_url }}"></script>

<!-- Footer -->
<footer class="container-fluid bg-dark footer pt-5 pb-5 mt-0 text-light">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-8 text-center">
				<p class="text-light">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam blanditiis eaque quaerat
					corporis voluptas voluptatum nulla rem soluta architecto commodi? Itaque nulla eligendi quos quasi
					veniam quaerat consequatur autem officia.
				</p>
				<p class="mt-2 text-light">
					Created with <i class="fas fa-heart text-danger"></i> by Matthew Lean
				</p>

			</div>
		</div>
	</div>
</footer>