<div class="splash-80" id="hero-header"
  style="background-image: url({{site.baseurl}}/assets/images/banners/{{page.img}}); background-size: cover;position: relative;">

  <!-- <a href="{{ post.url }}"> -->

  <div class="splash-video-wrapper">

    <div style="background-image: linear-gradient(to bottom right, #{{page.color-1}}, #{{page.color-2}});"
      class="project-image-gradient"></div>

    <video class="splash-video" playsinline="" autoplay="" muted="" loop=""
      poster="{{site.baseurl}}/assets/images/banners/{{poster.img}}" id="bgvid">
      <source class="splash-video" src="{{site.baseurl}}/assets/video/{{page.video}}" type="video/mp4">
    </video>

  </div>

  <div class="site-container container splash-overlay">
    <div class="header-content-container">
      <div class="splash-headline">
        <div id="main-project">

          <div class="main-project-name text-light text-center">
            <h1>{{ page.title | escape }}</h1>
            <div class="subtitle mt-2 text-light">
              <h2>{{ page.subtitle | escape}}</h2>
            </div>
            <a href="#book-a-lesson" data-toggle="modal" data-target="#booking" class="btn btn-primary mt-3"><i
                class="far fa-calendar-check mr-2"></i> Book a Lesson</a>
            <a href="#contact-us" class="btn btn-clear mt-3 ml-3" data-toggle="modal"
              data-target="#contactUsModal">Contact Us</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Contact Us Modal -->
  <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-3">
        <div class="modal-header" style="border: none;">
          <h5 class="modal-title" id="exampleModalLongTitle">Contact Us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <p class="text-dark pt-0">If you have any questions about wakeboarding for the first time please send us a dm
            on social media.</p>
        </div>
        <div class="modal-footer" style="justify-content: start; flex-wrap: initial; border:none;">
          <button type="button" class="btn btn-primary" style="width:50%"><i class="fab fa-facebook-messenger"></i>
            Messenger</button>
          <button type="button" class="btn btn-primary" style="width:50%"><i class="fab fa-instagram"></i>
            Instagram</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Booking Modal -->
  <div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-2">
        <div class="modal-header pt-4" style="border: none;">
          <h5 class="modal-title" id="exampleModalLongTitle"><i
            class="far fa-calendar-check mr-2 text-primary"></i>Book a Lesson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">

          <div class="pt-2 pb-2">
            <i class="fas fa-user" aria-hidden="true"></i> +1 
            <p class="text-dark mb-0"><strong>Starter Package</strong></p>
            <p class="pt-0 text-dark">Great for beginners</p>
            <button type="button" class="btn btn-primary" style="width:100%"><i class="far fa-calendar-check mr-2"></i> Book for £50</button>
          </div>

          <div class="pt-2 pb-2">
            <i class="fas fa-user" aria-hidden="true"></i> +4
            <p class="text-dark mb-0"><strong>Family Package</strong></p>
            <p class="pt-0 text-dark">A great day out for the whole family</p>
            <button type="button" class="btn btn-primary" style="width:100%"><i class="far fa-calendar-check mr-2"></i> Book for £275</button>
          </div>

          <div class="pt-2 pb-2">
            <i class="fas fa-user" aria-hidden="true"></i> +8
            <p class="text-dark mb-0"><strong>Party Package</strong></p>
            <p class="pt-0 text-dark">Enjoy wakeboarding with a large group of your friends.</p>
            <button type="button" class="btn btn-primary" style="width:100%"><i class="far fa-calendar-check mr-2"></i> Book for £500</button>
          </div>

        </div>
        <!-- <div class="modal-footer" style="justify-content: start; flex-wrap: initial;border:none;">
          
        </div> -->
      </div>
    </div>
  </div>

  <!-- </a> -->
</div>
