<div class="section-2 jumbotron jumbotron-fluid bg-white mb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-4">
                <div style="max-width: 700px; margin:0 auto;">
                    <h3 class="wow animate fadeInUp" data-wow-delay=".5s">Latest News</h3>
                    <p class="wow animate fadeInUp" data-wow-delay=".7s">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis iure officia molestiae
                        numquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis iure officia
                        molestiae numquam</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign count = 0 %} {% for post in site.posts %} {% if post.category contains "post" %}
            {% assign count = count | plus:1 %}
            <div class="col-lg-4 col-md-12 col-12">
                <div class="project wow animate fadeInUp" data-wow-delay=".7s">
                    <a href="{{ post.url }}">
                        <div class="project-image" class="project-image"
                            style="background-image: url({{site.baseurl}}/assets/images/posts/{{post.img}});background-size: cover;">
                            <div style="background-image: linear-gradient(to bottom right, #{{ post.color-1 | escape }}, #{{ post.color-2 | escape }});"
                                class="project-image-gradient"></div>
                            <div class="project-wrapper project-wrapper-2">
                                <p class="text-light mb-0">
                                    <span>{{ post.date | date: "%b %d" }}
                                </p>
                            </div>
                            <div class="project-wrapper">
                                <div class="description text-light mt-2" style="font-size: 1.3rem;">
                                    {{ post.title | truncate: 90}}
                                </div>
                                <div class="description text-light mt-2">
                                    {{ post.description | truncate: 90}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% if count == 3 %}{% break %} {% endif %} {% endif %} {% endfor %}
        </div>
    </div>
</div>