<div class="section-2 jumbotron jumbotron-fluid mb-0" style="background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) )
  , url({{site.baseurl}}/assets/images/home/wave-2.jpg); background-size: cover;position: relative;padding: 10rem 2rem;">
	<div class="container">
		<div class="row pt-5 pb-5 justify-content-md-center">
			<div class="col-md-10 text-center content">
				<h3 class="text-light">Join our Family Today</h3>
				<p style="font-size: 1.25em;" class="text-light">Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Vitae dolore ducimus, culpa dignissimos atque <strong>qui explicabo</strong>
					molestiae fugit.</p>
					<a class="btn btn-primary mr-3" href="#"><i class="fab fa-facebook text-light mr-2"></i> Facebook</a>
					<a class="btn btn-primary" href="#"><i class="fab fa-instagram text-light mr-2"></i> Instagram</a>
			</div>

		</div>
	</div>
</div>