<div class="jumbotron jumbotron-fluid bg-white mb-0">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-6 wow animate fadeInLeft" data-wow-delay=".5s">
				<img src="{{site.baseurl}}/assets/images/home/sea-1.jpg" alt="" style="width: 100%;">
			</div>
			<div class="col-6 center wow animate fadeInRight" data-wow-delay=".5s">
				<div>
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae accusantium laborum amet
						quod dolore.</p>
					
				</div>
			</div>
		</div>
	</div>
</div>