<div class="section-2 jumbotron jumbotron-fluid bg-white mb-0">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-6 center">
				<div>
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae accusantium laborum amet
						quod dolore.</p>
					<div class="btn btn-primary">Click here</div>
				</div>
			</div>
			<div class="col-6">
				<img class="before-pattern-1" src="{{site.baseurl}}/assets/images/home/wave-2.jpg" alt="" style="width: 100%;">
			</div>
		</div>
	</div>
</div>