/**
 * Post
 */

 .post img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post p{
    margin-top: 2rem;
    margin-bottom: 2rem;
}