.project {
    margin: 15px;
    transition: ease opacity .3s;
    overflow: hidden;
}
.project-image {
    height: 520px;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // text-align: center;
    position: relative;
}
.project-name {
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    line-height: 1.15;
}
.project-wrapper{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1.25rem;

  }
  .project-wrapper-2{
    top: 0;
    right: 0;
    text-align: right;
  }

  @media (max-width:990px){
    .project-image {
        height: 170px;
    }
  }

  /* hover */
  .project .project-image-gradient{
    transition: ease opacity .3s;
  }
  .project:hover .project-image-gradient {
    opacity: .0;
    transition: ease opacity .3s;
  }

  .project .description {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .project:hover .description {
    transform: translateY(40px);
    opacity: 0;
  }