<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="page-wrapper post">

    {% include header-main.html %}

    {% include post-banner.html %}

    <div class="post container mt-5">
      {{ content }}
    </div>

    <!-- related posts -->
    <div class="jumbotron relatedPosts jumbotron-fluid bg-light intro mb-0">
      <div class="container">
        <h4 class="text-center mb-3 text-capitalize" style="color: #c1bebe;">Related {{ page.category-type }} Posts
        </h4>
        <div class="row justify-content-md-center mr-0 ml-0">

          {% assign maxRelated = 2 %}
          {% assign minCommonTags =  1 %}
          {% assign maxRelatedCounter = 0 %}

          {% for post in site.posts %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}

          {% for tag in post.category-type %}
          {% if post.url != page.url %}
          {% if page.category-type contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
          {% endif %}
          {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}
          <div class="col-lg-4 col-md-12 col-12">
            <div class="project wow animate fadeInUp" data-wow-delay=".7s">
                <a href="{{ post.url }}">
                    <div class="project-image" class="project-image"
                        style="background-image: url({{site.baseurl}}/assets/images/posts/{{post.img}});background-size: cover;">
                        <div style="background-image: linear-gradient(to bottom right, #{{ post.color-1 | escape }}, #{{ post.color-2 | escape }});"
                            class="project-image-gradient"></div>
                        <div class="project-wrapper project-wrapper-2">
                            <p class="text-light mb-0 mt-0">
                                <span>{{ post.date | date: "%b %d" }}
                            </p>
                        </div>
                        <div class="project-wrapper">
                            <div class="description text-light mt-2" style="font-size: 1.3rem;">
                                {{ post.title | truncate: 90}}
                            </div>
                            <div class="description text-light mt-2">
                                {{ post.description | truncate: 90}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
          {% if maxRelatedCounter >= maxRelated %}
          {% break %}
          {% endif %}
          {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include modals.html %}

</body>

</html>